h1 {
  background-color: #33ccff;
}

table {
  padding-top: 0px;
  padding-right: 5%;
  padding-bottom: 90px;
  padding-left: 15%;
}

td {
  border: 0.5px solid #4286f4;
  padding-top: 5px;
  padding-bottom: 5px;
}

th {
  border: 0.5px solid #4286f4;
  padding-top: 5px;
  padding-bottom: 5px;
}
